@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arbutus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.lalezar-regular {
  font-family: "Lalezar", system-ui;
  font-weight: 400;
  font-style: normal;
}

.arbutus-regular {
  font-family: "Arbutus", serif;
  font-weight: 400;
  font-style: normal;
}

.cairo {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.almarai {
  font-family: "Almarai", sans-serif;
}

.changa {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
}

.lemonada {
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
}

.blaka {
  font-family: "Blaka", system-ui;
}
.kufam {
  font-family: "Kufam", sans-serif;
  font-optical-sizing: auto;
}
